.drillDown {
    cursor: pointer;
}

.drillDown::after {
    content: "+";
}

.drilldownTable {
    margin-left: 2em;
}

table {
    border-style: solid;
}

table tr th,table tr:not(:last-of-type) td {
    border-bottom-style: solid;
}

table tr th:not(:last-of-type),table tr td:not(:last-of-type) {
    border-right-style: solid;
}
